{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Print Shop plugin for Craft CMS 3.x
 *
 * Print Shop Settings.twig
 *
 * @author    Angell & Co
 * @copyright Copyright (c) 2019 Angell & Co
 * @link      https://angell.io
 * @package   PrintShop
 * @since     2.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% set allVolumes = craft.app.volumes.getAllVolumes() %}
{% set volumeList = [] %}
{% for volume in allVolumes %}
    {% set volumeList = volumeList|merge([{'value': volume.uid, 'label': volume.name}]) %}
{% endfor %}

{% macro assetLocationInput(volumeOptions, volumeUid, volumeSubpath) %}
    {% from "_includes/forms" import select, text %}
    <div class="flex">
        <div>
            {{ select({
                id: 'volumeUid',
                name: 'volumeUid',
                options: volumeOptions,
                value: volumeUid,
            }) }}
        </div>
        <div class="flex-grow">
            {{ text({
                id: 'volumeSubpath',
                class: 'ltr',
                name: 'volumeSubpath',
                value: volumeSubpath,
                placeholder: "path/to/subfolder"|t('app')
            }) }}
        </div>
    </div>
{% endmacro %}

{% from _self import assetLocationInput %}

{% if volumeList %}
    {{ forms.field({
        first: true,
        label: "Files and Proofs Location"|t('print-shop'),
        instructions: "Where do you want to store line item files and proofs?"|t('print-shop')
    }, assetLocationInput(volumeList, settings.volumeUid ?? null, settings.volumeSubpath ?? null)) }}
{% else %}
    {{ forms.field({
        first: true,
        label: "Files and Proofs Location"|t('print-shop')
    }, '<p class="error">' ~ "No volumes exist yet."|t('app') ~ '</p>') }}
{% endif %}