{# @var craft \craft\web\twig\variables\CraftVariable #}
{% import "_includes/forms" as forms %}

</div>

<div id="printShopTab" class="hidden">

    <div id="printshop">
        {% if order.lineItems | length or order.totalPrice > 0 %}
        <div class="order-details">

            {% for lineItem in order.lineItems %}
                {% set file = craft.printShop.getFile(lineItem.id) %}
                {% set proofStatus = 'no customer file' %}
                {% if file %}
                    {% set proof = file.getLatestProof() %}
                    {% if proof %}
                        {% set proofStatus = proof.status %}
                    {% else %}
                        {% set proofStatus = 'no proof' %}
                    {% endif %}
                {% endif %}
                <line-item :line-item="{{ lineItem|json_encode }}"
                           :proof-status="'{{ proofStatus }}'">

                    <div slot="Title" class="titlebar">
                        {% if lineItem.purchasable %}
                            {% if lineItem.purchasable.cpEditUrl %}
                                <a class="purchasable-link" href="{{ lineItem.purchasable.cpEditUrl }}">{{ lineItem.description }}</a>
                            {% else %}
                                <span class="description">{{ lineItem.description }}</span>
                            {% endif %}
                        {% else %}
                            <span class="description">{{ lineItem.description }}</span>
                        {% endif %}
                        <br><span class="code">{{ lineItem.sku }}</span>
                    </div>

                    <div slot="Meta">
                        {% if lineItem.options|length %}
                            <h3>{{ "Options"|t('commerce') }}</h3>
                            {% for key, option in lineItem.options %}
                                {{ key|t('commerce') }}: {% if option is iterable %}
                                <code>{{ option|json_encode|raw }}</code>{% else %}{{ option }}{% endif %}
                                <br>
                            {% endfor %}
                        {% endif %}
                        {% if lineItem.note %}
                            <h3>{{ "Customer Note"|t('print-shop') }}</h3>
                            {{ lineItem.note|nl2br }}
                        {% endif %}
                    </div>

                    <div slot="CustomerFile" slot-scope="{ changeStatus }">
                    {% if file %}

                        <h3>{{ "Customer File"|t('print-shop') }}</h3>
                        <a href="{{ file.getDownloadUrl() }}" class="printshop__element-link">
                            {% include '_elements/element' with {
                                element: file.getAsset()
                            } %}
                        </a>

                        <h3>{{ "Proofs"|t('print-shop') }}</h3>
                        {% set folderSource = craft.printShop.getProofsFolderSourceForOrder(order.shortNumber) %}
                        <proofs :proofs="{{ file.getProofs(true)|json_encode }}"
                                :line-item-id="{{ lineItem.id }}"
                                :source="'{{ folderSource }}'"
                                v-on:new-proof-added="changeStatus('new')">

                            <div slot="AssetSelectInput">
                                {{ forms.elementSelectField({
                                    label: "File"|t('app'),
                                    id: 'newProof-'~lineItem.id~'-asset',
                                    name: 'newProof['~lineItem.id~'][asset]',
                                    required: true,
                                    elementType: 'craft\\elements\\Asset',
                                    selectionLabel: "Add a file"|t('app'),
                                    sources: [folderSource],
                                    criteria: { kind: ['image'] },
                                    limit: 1,
                                    elements: null,
                                    jsClass: 'Craft.AssetSelectInput'
                                }) }}
                            </div>

                            <div slot="StaffNotesField">
                                {{ forms.textareaField({
                                    label: "Notes"|t,
                                    id: 'newProof-'~lineItem.id~'-notes',
                                    name: 'newProof['~lineItem.id~'][notes]',
                                    rows: 4
                                }) }}
                            </div>

                        </proofs>
                    {% endif %}
                    </div>

                </line-item>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    {% js %}
        Garnish.$doc.ready(function() {
            (new Craft.ElementThumbLoader()).load($('#printShopTab'));
            Craft.cp.$collapsibleTables = Craft.cp.$collapsibleTables.add($('#printshop-maintable'));
            Craft.cp.updateResponsiveTables();
        });
    {% endjs %}

    {% css %}
        #printshop-maintable.data > tbody tr td {
            vertical-align: top;
        }
    {% endcss %}